.home {
  max-width: 1024px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.loader {
  margin: auto;
  display: flex;

  justify-content: center;
  align-items: center;
}
