.card {
  background: #fff;
  width: 300px;
  margin: 20px;

  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}
.link {
  text-decoration: none;
  color: black;
}

.divImg {
  justify-content: center;
  margin: auto;
  width: 100px;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.divImg img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card h1 {
  font-size: 16px;
  padding: 10px 0 10px 0;
}

.card button {
  display: flex;
  background-color: #5500f3;
  color: white;
  padding: 5px 25px;
  border: none;
  transition: 0.5s;
  margin: auto;
  border-radius: 5px;
}
.card button:hover {
  background-color: #5e14f3;
  color: black;
  cursor: pointer;
}
