.navbar {
  max-width: 1024px;
  padding: 0px 20px;
  background-color: rgb(251, 249, 249);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  margin: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
nav {
  padding: 10px;
  display: flex;
  gap: 50px;
}
nav button {
  padding: 5px 10px;
  background-color: #f0e269;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
  font-weight: 800;
}

nav button:hover {
  padding: 5px 10px;
  cursor: pointer;
  scale: 0.9;
  background-color: #f7e441;
  border: none;
  border-radius: 10px;
}

.rightSide {
  padding-left: 20px;
  gap: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  nav {
    gap: 20px;
  }
  .rightSide {
    padding-left: 0;
    gap: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar {
    padding: 20px;
  }
  nav {
    gap: 30px;
  }
  .rightSide {
    gap: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar {
    padding: 0px 40px;
  }
  nav {
    gap: 50px;
  }
  .rightSide {
    gap: 40px;
  }
}
